• Species: allowed species and genome versions are listed in GenomeData.py. You can add your own species and/or genome versions and relevant data there.
• Redundancy Threshold: The number of copies of identical reads allowed in a library.
• Window size: resolution of SICER algorithm. For histone modifications, one can use 200 bp
• Fragment size: is for determination of the amount of shift from the beginning of a read to the center of the DNA fragment represented by the read. FRAGMENT_SIZE=150 means the shift is 75.
• Effective genome fraction: Effective Genome as fraction of the genome size. It depends on read length.
• Gap size: needs to be multiples of window size. Namely if the window size is 200, the gap size should be 0, 200, 400, 600, ....
