Help Pages
annotate_regions	A function to intersect user region data with annotation data
annotations	example_annotations data
annotatr	annotatr: Annotation of Genomic Regions to Functional Annotations
annotatr_cache	A global-variable to hold custom annotations loaded in an R session
build_ah_annots	A helper function to build arbitrary annotatinos from AnnotationHub
build_annotations	A function to build annotations from TxDb.* and AnnotationHub resources
build_cpg_annots	A helper function to build CpG related annotations.
build_enhancer_annots	A helper function to build enhancer annotations for hg19 and mm10 from FANTOM5.
build_gene_annots	A helper function to build genic annotations.
build_hmm_annots	A helper function to build chromHMM annotations for hg19 from UCSC Genome Browser.
build_lncrna_annots	A helper function to build lncRNA annotations.
builtin_annotations	Function listing which annotations are available.
builtin_genomes	Function returning supported TxDb.* genomes
check_annotations	Function to check for valid annotations
expand_annotations	Function to expand annotation shortcuts
get_cellline_from_code	Function to return cell line from chromatin annotation code
get_cellline_from_shortcut	Function to return cell line from chromatin annotation shortcut
get_orgdb_name	Function to get correct org.* package name based on genome
get_txdb_name	Function to get correct TxDb.* package name based on genome
plot_annotation	Plot the number of regions per annotation
plot_categorical	Plot a categorical data variable over another
plot_coannotations	Plot pair-wise annotations across regions
plot_numerical	Plot numerical data over regions or regions summarized over annotations
plot_numerical_coannotations	Plot numerical data occurring in pairs of annotations
randomize_regions	Randomize Regions
read_annotations	Read custom annotations
read_regions	Read genomic regions in BEDX+Y format
reformat_hmm_codes	Function to recode classes from chromHMM type column
subset_order_tbl	Function to subset a tbl_df or grouped_df by a column
summarize_annotations	Summarize annotation counts
summarize_categorical	Summarize categorical data over groupings of annotated regions
summarize_numerical	Summarize numerical data over groupings of annotated regions
tidy_annotations	Function to tidy up annotation accessors for visualization
